<mat-card class="signin-card">
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
    <div class="d-flex justify-content-center">
    <mat-card-header>
    <mat-card-title class="large">Vous avez déjà un compte ?</mat-card-title>
        <mat-card-subtitle class="large-subtitle">Connectez vous dès maintenant !</mat-card-subtitle>
        </mat-card-header>
        </div>
        <mat-card-content> 
            <div class="container">
                <div class="d-flex justify-content-center">
                    <mat-form-field appearance="fill">
                      <mat-label>Username</mat-label>
                      <input
                       matInput
                       type="text"
                       name="username"
                       [(ngModel)]="form.username"
                       required
                       #username="ngModel">
                    </mat-form-field>
                    </div>
                    <br>
                <div class="d-flex justify-content-center">
                <mat-form-field appearance="fill">
                    <mat-icon matSuffix>email</mat-icon>
                  <mat-label>Email</mat-label>
                  <input matInput type="text">
                </mat-form-field>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                <mat-form-field appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input 
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    minlength="6"
                    #password="ngModel" >
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  </div>
                  </div>                  
                  </mat-card-content>
                  <mat-card-footer>
                  <mat-card-actions>
                      <div class="d-flex justify-content-center">
                      <button (click)="onSubmit()" mat-raised-button color="accent">SE CONNECTER</button>
                      </div>
                  </mat-card-actions>
                  </mat-card-footer>
                  </form>
</mat-card>