.center {
    margin: auto;
    width: 29%;
    margin-top: 10px;

}
.center-title {
    margin: auto;
    width: 200px;
    margin-top: 10px;

}
mat-sidenav-container {
    height: 100%;
}
mat-sidenav,mat-sidenav-content {
    padding: 16px;    
}
.large {
    font-size: large;
    font-size: 150%;
    padding: 16px;

}
