table {
    width: 100%;
    background-color: #eeeeee;
  }
.total {
  font-size: large;
  margin-right: 20px;
  margin-top: 20px;
}  
.amount {
    margin-top: 20px;
    font-size: 150%;
    color : #FFA500;
    margin-right: 20px;

} 
.boutons {
  padding: 18px;
  margin-left: 20px;
}