    
<div class="d-flex justify-content-start">
    <h1>Mon panier</h1>
</div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <img  [src]="element.image" />
            </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef>NOM</th>
            <td mat-cell *matCellDef="let element"> {{element.nomProduit}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="quantite">
            <th mat-header-cell *matHeaderCellDef> QUANTITÉ </th>
            <td class="quantite" mat-cell *matCellDef="let element">{{element.quantite}}</td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="prixUnitaire">
            <th mat-header-cell *matHeaderCellDef> PRIX UNITAIRE	 </th>
            <td class="prixUnitaire" mat-cell *matCellDef="let element"> {{element.prixUnitaire}} Dhs TTC </td>
          </ng-container>
          <ng-container matColumnDef="sousTotal">
            <th mat-header-cell *matHeaderCellDef> SOUS-TOTAL	 </th>
            <td class="sousTotal" mat-cell *matCellDef="let element">{{element.sousTotal}} Dhs TTC</td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
              <div class="inline-form">
          <div class="d-flex justify-content-end">
          <span class="total">Total TTC: </span>
          <span class="amount">  {{total}}   Dhs</span>
          </div>
              </div>
          <div class="d-flex justify-content-end">
            <div class="boutons">
          <button routerLink="/Produits" mat-raised-button   color="warn" style="margin-right : 10px">POURSUIVRE VOS ACHATS</button>
          <button (click)="ajouterCommande() ; openDialog()" mat-raised-button color="warn">FINALISER VOTRE COMMANDE</button>
          <button (click)="viderPanier()" style="margin-left: 10px" mat-raised-button color="warn">VIDER LE PANIER</button>

          </div>
          </div>
      </div>
