mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 100%;

  }

  mat-card {
    width: 15rem;
    border-radius: 20px;
    margin-top: 20px;
  }
h4 {
  font-weight: bold;
}
h1 {
  font-weight: bold;

}