.card {
    width: 30rem;
    background-color: #00CED1

    ;

}
img {
    width: 100%;
    height: 100%;
}
.card-modifier {
    width: 30rem;
    height: 24rem;
    background-color: #00CED1

    ;

}